<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WebServiceProxyClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServicePeakSoap"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.itraycer.com:12324/AlphaBravo.asmx" binding="basicHttpBinding" bindingConfiguration="ServicePeakSoap" contract="mtsServiceAB.ServicePeakSoap" name="ServicePeakSoap"/>
        </client>
    </system.serviceModel>
    <applicationSettings>
        <WebServiceProxyClient.Properties.Settings>
            <setting name="WebServiceProxyClient_mtsWebServiceAB_ServicePeak" serializeAs="String">
                <value>http://www.itraycer.com:12324/AlphaBravo.asmx</value>
            </setting>
            <setting name="WebServiceProxyClient_mtsWebServices_MTSWebServices" serializeAs="String">
                <value>http://www.itraycer.com:12324/MTSWebServices.asmx</value>
            </setting>
        </WebServiceProxyClient.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
